<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.ebook.like.mapper.LikeMapper">
	<select id="selectLikeList" resultType="map">
		SELECT
			*
		FROM
			`like`
	</select>
	
	<select id="selectLikeByBookNameUserId" resultType="map">
		SELECT
			*
		FROM
			`like`	
		WHERE
			`bookName` = #{bookName}
			AND `userId` = #{userId}	
	</select>
	
	<insert id="insertLike" parameterType="map">
		INSERT INTO `like`
		(
			`bookName`
			, `userId`
			, `createdAt`
		)
		VALUES
		(
			#{bookName}
			, #{userId}
			, NOW()
		)
	</insert>
	
	<delete id="deleteLikeByBookNameUserId" parameterType="map">
		DELETE
		FROM
			`like`
		WHERE
			`bookName` = #{bookName}
			AND `userId` = #{userId}
	</delete>	
</mapper>