<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
  <mapper namespace="com.ebook.review.mapper.ReviewMapper">
 	<select id="selectReviewListByBookId" parameterType="int" resultType="com.ebook.review.domain.Review">
 	SELECT
			`id`
			,`userId`
			,`bookId`
			,`subject`
			,`content`
			,`createdAt`
			,`updatedAt`
	FROM
			`review`
	WHERE
			`bookId`
	ORDER BY `id` DESC				
 	</select>
 	
 	
 </mapper>