@charset "UTF-8";
header{height: 100px; background-color: #66ff38}
.contents{min-height: 500px;}

.sign-up-box {width:600px;}
.sign-up-subject {margin:20px; font-weight:bold;}
.sign-in-box {width:400px;}
.book-detail-box {width:600px;}
.book-content-box{width:700px;}
.title{font-size:30px}
.block {
    border-style: solid;
    border-width: 3px;
    border-color: green;
    border-radius: 10px;
    padding: 30px 30px;
}

a, a:hover {color:#000;}